<!DOCTYPE html>
<html lang="en">
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}
</style>
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-red w3-card w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">{{ message }}</a>

  </div>


</div>

<div style="height: 200px;background-color: teal;position: relative;padding: 100px;">
    <div style="background-color: white; height: 60px;position: relative;">
       <center><H1>Login Or Create Account</H1></center> 
    </div>
</div>

<div>
    <div style="width: 50%;height: 100px; background-color: white;float: left;">
        <center><h2>Login</h2></center>
          <center>Name <input type="text" id="l_name" name="name">
            <button onclick="Login()">Login</button>
        </center>
    </div>
    
    <div style="width: 50%;height: 300px; background-color: white;float: right;">
        <center><h2>Create Account</h2></center>
        <form>
          <center>Name <input type="text" id="c_name" name="name">
            <button onclick="Create()">Create</button>
        </center>
        </form>
    </div>
</div>


<script>
  function Create(){
    var j={
    name: document.getElementById('c_name').value,
    numberOfPosts: 0,
    createdDate: new Date(),
    };
    console.log(JSON.stringify(j));
    
    var formBody = [];
    for (var property in j) {
    var encodedKey = encodeURIComponent(property);
    var encodedValue = encodeURIComponent(j[property]);
    formBody.push(encodedKey + "=" + encodedValue);
    }
    formBody = formBody.join("&");

    fetch('/users', {
    method: 'POST',
    headers: {
        'Content-Type': 'application/json'
    },
    body: formBody
    }).then(response => {
        // HTTP 301 response
        // HOW CAN I FOLLOW THE HTTP REDIRECT RESPONSE?
            window.location.href = "/UserCreate";
    })
    .catch(function(err) {
        console.info(err + " url: " + url);
    });
  }
  
    function Login(){
    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
          // Typical action to be performed when the document is ready:
            var response = xhttp.responseText;
            console.log(response);
            try{
              var a= JSON.parse(response);
                          console.log(a);
              const d = new Date();
              d.setTime(d.getTime() + (5*24*60*60*1000));
              let expires = "expires="+ d.toUTCString();
              document.cookie = "username" + "=" + a.name + ";" + expires + ";path=/";
              document.cookie = "id" + "=" + a._id + ";" + expires + ";path=/";
              window.location.href = "/Home";
            }
            catch(e){
              alert("Incorrect username");
              log(e);
            }
        }
    };
    xhttp.open("GET", "/users/Login/"+document.getElementById('l_name').value, true);
    xhttp.send();
      }
</script>

</body>
</html>
